<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/f6bf194cbc.js"></script>   
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"> 
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index-logged-in.html">iWash</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="workflow.html">
                            <i class="fa fa-play fa-lg" aria-hidden="true"></i>
                            Workflow <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="customers.html">
                            <i class="fa fa-male fa-lg" aria-hidden="true"></i>
                            Customers 
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="inventory.html">
                            <i class="fa fa-list fa-lg" aria-hidden="true"></i>
                            Inventory 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="analytics.html">
                            <i class="fa fa-area-chart fa-lg" aria-hidden="true"></i>
                            Analytics 
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">
                            <i class="fa fa-id-card fa-lg" aria-hidden="true"></i>
                            Profile
                        </a>    
                    </li>    
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div>
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <input type="text" class="form-control" placeholder="Search"/>
                    </div>
                    <div class="card-block">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-action justify-content-between">
                                Detergent
                                <span class="badge badge-default badge-pill">14</span>
                            </a>
                            <a href="#" class="list-group-item list-group-action justify-content-between">
                                Fabric Conditioner
                                <span class="badge badge-default badge-pill">12</span>
                            </a>
                            <a href="#" class="list-group-item list-group-action justify-content-between">
                                Bleach
                                <span class="badge badge-default badge-pill">14</span>
                            </a>
                            <a href="#" class="list-group-item list-group-action justify-content-between">
                                Plastic Bags
                                <span class="badge badge-default badge-pill">14</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-white text-center bg-inverse fixed-bottom ">
        &copy; iWash 2017
    </footer>
     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>


</html>